{% extends "layout.html" %}
{% load in_list %}
{% block content %}
    <section id="tkani-description">
        <header>{{ content.5.header }}</header>
        {{ content.5.content|safe }}
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin-top:60px">Оставить заявку</a>
    </section>

    {% for section in sections %}
        {% if section.categories %}
            <section class="section-title">
                <p>{{section.title}}</p>
            </section>
            {% for cat in section.categories %}
                <section id="tkani-category-{{cat.id}}" class="tkani-category static-section {% if forloop.counter|divisibleby:2 %} static-section__2n {% elif forloop.counter|in:"3,7,11,15" %} static-section__3n {% else %} static-section__1n {% endif %} {% if cat.id|divisibleby:2 %} static-section__even {% endif %}">
                    <div class="static-text-block static-text-block__tkani">
                        <h2>{{cat.title}}</h2>
                        <ul>
                            {% for fabric in cat.fabrics %}
                                <li class="tkani-category-li"><a class="fabric-details-link" data-modal="#modal_fabric" href="/api/fabric/{{fabric.id}}">{{fabric.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <img class="tkani-category-{{cat.id}}-img" src="{{ STATIC_URL }}img/tkani-category-{{cat.id}}.jpg" alt="{{cat.title}}">

                    {% if cat.id == 1 %}
                        <svg id="tkani-category-{{cat.id}}-circle" height="930" width="930">
                            <circle cx="465" cy="465" r="465" fill="#033773" />
                        </svg>
                    {% elif cat.id == 4 %}
                        <svg id="tkani-category-{{cat.id}}-circle" height="866" width="866">
                            <circle cx="433" cy="433" r="433" fill="#033773" />
                        </svg>
                    {% elif cat.id == 6 %}
                        <svg id="tkani-category-{{cat.id}}-circle" height="800" width="800">
                            <circle cx="400" cy="400" r="400" fill="#02a4a2" />
                        </svg>
                    {% elif cat.id == 7 %}
                        <svg id="tkani-category-{{cat.id}}-circle" height="744" width="744">
                            <circle cx="372" cy="372" r="372" fill="#fbd425" />
                        </svg>
                    {% endif %}

                </section>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock content %}

{% block page_specific %}
    <div id="modal_fabric" class="scortex_modal mfp-hide">
        <div class="modal_fabric-wrapper">
            <div id="modal_fabric-title"></div>
            <div id="modal_fabric-description"></div>
        </div>
    </div>
{% endblock page_specific %}
