{% extends "layout.html" %}

{% block content %}
    <section id="dostavka-first" class="text-center">
        <header class="text-blue">{{content.9.header}}</header>
        <div class="p-after-header">{{content.9.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin-top:60px">Оставить заявку</a>
    </section>
    <section class="static-section static-section__delivery static-section__1n">
        <div class="static-text-block">
            <h2>{{content.10.header}}</h2>
            <div class="static-text-block__description">
                {{content.10.content|safe}}
            </div>
        </div>
        <img src="{{STATIC_URL}}img/dostavka-section-1.png" alt="" class="dostavka-1-img">
        <svg id="dostavka-1-circle" height="870" width="870">
            <circle cx="435" cy="435" r="435" fill="#013671" />
        </svg>
    </section>
    <section class="static-section static-section__delivery static-section__even static-section__2n delivery-courier">
        <div class="static-text-block">
            <h2>{{content.11.header}}</h2>
            <div class="static-text-block__description">
                {{content.11.content|safe}}
            </div>
        </div>
        <img src="{{STATIC_URL}}img/dostavka-section-2.png" alt="" class="dostavka-2-img">
    </section>
    <section class="static-section static-section__delivery static-section__3n">
        <div class="static-text-block">
            <h2>{{content.12.header}}</h2>
            <div class="static-text-block__description">
                {{content.12.content|safe}}
            </div>
        </div>
        <img src="{{STATIC_URL}}img/dostavka-section-3.png" alt="" class="dostavka-3-img">
        <svg id="dostavka-3-circle" height="660" width="660">
            <circle cx="330" cy="330" r="330" fill="#fbd425" />
        </svg>
    </section>
    <section class="static-section static-section__delivery static-section__even static-section__2n delivery-russia">
        <div class="static-text-block">
            <h2>{{content.13.header}}</h2>
            <div class="static-text-block__description">
                {{content.13.content|safe}}
            </div>
        </div>
        <img src="{{STATIC_URL}}img/dostavka-section-4.png" alt="" class="dostavka-4-img">
    </section>
{% endblock content %}
