<html>
<head>
    {% if meta %}
        <title>{{ meta.title }} | Scortex</title>
        <meta name="description" content="{{ meta.description }}">
    {% else %}
        <title>Scortex</title>
        <meta name="description" content="Scortex">
    {% endif %}
    <link href="{{ STATIC_URL }}img/favicon16.ico" rel="shortcut icon"/>
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon57.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <meta name='yandex-verification' content='691f2c10b3714e2b' />
</head>
<body>
    <div class="container">
        <div class="hero">
            {% include "header.html" %}
            <div class="hero-text-block">
                {{content.3.content|safe}}
                <a href="/catalog" class="btn btn__white">Узнать больше</a>
            </div>

            <img class="hero-clothes" src="{{ STATIC_URL }}img/hero-clothes.jpg" alt="">
        </div>
        <section id="section-welcome">
            <header>{{ content.1.header }}</header>
            {{ content.1.content|safe }}
            <div class="welcome-slider-wrapper">
                <div id="welcome-slider">
                    <div class="slider">
                        <ul>
                            {% for slide in slider %}
                                <li>
                                    <img src="{{ slide.image.url }}" alt="">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <svg id="circle-bg-1" height="620" width="620">
                <circle cx="310" cy="310" r="310" fill="#02a4a2" />
            </svg>
            <svg id="circle-bg-2" height="440" width="440">
                <circle cx="220" cy="220" r="220" fill="#f3c500" />
            </svg>
        </section>
        <section id="section-catalogue">
            {% for cat in categories %}
                {% if forloop.first %}
                    <div class="clearfix">
                {% endif %}

                    <a href="{{ cat.get_absolute_url }}" class="section-catalog-cat">
                        <img src="{{ cat.image.url }}" alt="Категория {{ cat.title }}">
                        <div class="section-catalog-cat__title-wrapper">
                            <div class="section-catalog-cat__title-circle"></div>
                            <div class="section-catalog-cat__title">{{ cat.title }}</div>
                        </div>
                    </a>

                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div>
                    <div class="clearfix">
                {% endif %}
                {% if forloop.last and not forloop.counter|divisibleby:3 %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>
        <section id="section-happies-counter">
            <ul class="happies-counter">
                {% for char in content.4.get_happies %}
                    <li class="happies-counter-number">{{char}}</li>
                {% endfor %}
            </ul>
            <p>{{content.4.header|lower}}</p>
            <a href="/catalog" class="btn btn__cyan">Присоединиться</a>
        </section>
        <section id="section-value-offer">
            <header>{{ content.2.header }}</header>
            {{ content.2.content|safe }}
            <a href="/catalog" class="btn btn__white">Работать вместе</a>
            <svg id="circle-bg-3" height="380" width="380">
                <circle cx="190" cy="190" r="190" fill="#f3c500" />
            </svg>
            <svg id="circle-bg-4" height="636" width="636">
                <circle cx="318" cy="318" r="318" fill="#01356e" />
            </svg>
            <svg id="circle-bg-5" height="78" width="78">
                <circle cx="39" cy="39" r="39" fill="#01356e" />
            </svg>
        </section>
        <section id="section-video">
            <header>{{ content.34.header }}</header>
            <div class="video">
                <iframe width="1025" height="575" src="{{ content.34.get_data_wo_p_tag }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section id="section-testimonials">
            <header>Отзывы</header>
            <div class="testimonials-slider-wrapper">
                <div id="testimonials-slider">
                    <div class="testimonials">
                        <ul>
                            {% for testimonial in testimonials %}
                                <li>
                                    <div class="testimonial-body"> {{ testimonial.body|safe }} </div>
                                    <p class="testimonial-author"> {{ testimonial.author }} </p>
                                    <p class="testimonial-company"> {{ testimonial.company }} </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <svg id="circle-bg-6" height="500" width="500">
                <circle cx="250" cy="250" r="250" fill="#f3c500" />
            </svg>
            <svg id="circle-bg-7" height="410" width="410">
                <circle cx="205" cy="205" r="205" fill="#02a4a2" />
            </svg>
        </section>
    </div>
    {% include "footer.html" %}
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/javascript">
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter28009770 = new Ya.Metrika({id:28009770,
        webvisor:true,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true});
        } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28009770" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>