{% extends "layout.html" %}

{% block content %}
    <section id="kontakty-first" class="text-center">
        <header class="text-blue">{{content.14.header}}</header>
        <div class="p-after-header">{{content.14.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan">Оставить заявку</a>
    </section>
    <section id="kontakty-section-map">
        <div id="kontakty-map"></div>
    </section>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock content %}
