{% extends "layout.html" %}

{% block content %}
    <section class="text-center">
        <header class="text-blue">{{content.23.header}}</header>
        <div class="p-after-header">{{content.23.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin:65px 0 100px">Оставить заявку</a>
    </section>
    <section class="docs text-center">
        {% for doc in content_list %}
            {% if doc.attachement %}
                {% if forloop.first %}
                    <div class="clearfix">
                {% endif %}

                    <div class="col-1-of-4" style="margin-bottom:35px">
                        <a href="#list_order" data-redirect-to="{{doc.attachement.url}}" class="doc-link btn-list">
                            <div class="doc-icon"></div>
                            <div class="doc-title">{{doc.header}}</div>
                        </a>
                    </div>

                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div>
                    <div class="clearfix">
                {% endif %}
                {% if forloop.last and not forloop.counter|divisibleby:4 %}
                    </div>
                {% endif %}

            {% endif %}
        {% endfor %}
    </section>
{% endblock content %}
