{% extends "layout.html" %}

{% block content %}
    <section class="text-center">
        <header class="text-blue">{{content.28.header}}</header>
        <div class="p-after-header">{{content.28.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin:65px 0 100px">Оставить заявку</a>
    </section>
    <section class="application-section application-1">
        <header class="application-header">{{content.29.header}}</header>
        <div class="application-content">
            {{content.29.content|safe}}
        </div>
        <svg id="application-circle-1" height="810" width="810">
            <circle cx="405" cy="405" r="405" fill="#013671" />
        </svg>
    </section>
    <section class="application-section application-2">
        <header class="application-header">{{content.30.header}}</header>
        <div class="application-content">
            {{content.30.content|safe}}
        </div>
    </section>
    <section class="application-section application-3">
        <header class="application-header">{{content.31.header}}</header>
        <div class="application-content">
            {{content.31.content|safe}}
        </div>
    </section>
    <section class="application-section application-4">
        <header class="application-header">{{content.32.header}}</header>
        <div class="application-content">
            {{content.32.content|safe}}
        </div>
        <svg id="application-circle-4" height="790" width="790">
            <circle cx="395" cy="395" r="395" fill="#f3c500" />
        </svg>
    </section>
{% endblock content %}