{% extends "layout.html" %}

{% block content %}
    <section class="text-center">
        <header class="text-blue">{{content.17.header}}</header>
        <div class="p-after-header" style="width:85%">{{content.17.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin:110px 0">Оставить заявку</a>
    </section>
{% endblock content %}