{% extends "layout.html" %}

{% block content %}
    <section id="oplata-first" class="text-center">
        <header class="text-blue">{{content.6.header}}</header>
        <div class="p-after-header">{{content.6.content|safe}}</div>
        <a href="#modal_order" class="btn btn-order btn__cyan" style="margin-top:60px">Оставить заявку</a>
    </section>
    <section id="oplata-way1">
        <img src="{{ STATIC_URL }}img/oplata-way1-bg.png" alt="" class="oplata-way1-bg">
        <div class="oplata-way1__title">{{content.7.header}}</div>
        <div class="oplata-way1__text">{{content.7.content|safe}}</div>
    </section>
    <section id="oplata-way2">
        <div class="oplata-way2-bg">
            <svg id="way2-bg__circle" height="550" width="550">
                <circle cx="275" cy="275" r="275" fill="#f3c500" />
            </svg>
            <img src="{{ STATIC_URL }}img/oplata-way2-bg.png" alt="" class="way2-bg__icon">
        </div>
        <div class="oplata-way2__title">{{content.8.header}}</div>
        <div class="oplata-way2__text">{{content.8.content|safe}}</div>
    </section>
    <section id="oplata-info">
        <p>Для юридически лиц необходимо предоставить полные реквизиты</p>
        <p>Для физических лиц необходимо предоставить полностью ФИО и номер телефона
</p>
    </section>
{% endblock content %}
