<ul class="b-breadcrumbs">
    {% for crumb in breadcrumbs %}
        <li class="b-breadcrumbs__crumb {% if not forloop.last %}is-past-current{% endif %}">
            {% if forloop.first %}
                <a href="/catalog">Каталог</a> /
            {% elif forloop.last %}
                <span class="is-current">{{ crumb.title }}</span>
            {% else %}
                <a href="{{ crumb.get_absolute_url }}">{{ crumb.title }}</a> /
            {% endif %}
        </li>
    {% endfor %}
</ul>
