<aside class="catalogue-categories">
    <ul>
        {% for cat in categories %}
            <li><a href="{{ cat.get_absolute_url }}" class="catalogue-category {% if cat.slug == category.slug or cat.slug == ware.category.slug %}active{% endif %}"> {{ cat.title }} </a></li>
        {% endfor %}
    </ul>
</aside>