{% extends "layout.html" %}

{% block content %}
    <div class="catalogue clearfix">
        {% include "wares/categories_list.html" %}
        <section class="catalogue-detail clearfix">
            {% include "wares/breadcrumbs.html" %}
            <div class="catalogue-detail-images">
                <div class="catalogue-detail-bigs">
                    {% for image in ware.images %}
                        <img src="{{ image.image.url }}" alt="" {% if forloop.counter == 1 %} class="is_shown" {% endif %} style="display:none">
                    {% endfor %}
                </div>
                <ul class="catalogue-detail-thumbs-list clearfix">
                    {% for image in ware.images %}
                        <li class="catalogue-detail-thumb {% if forloop.counter == 1 %}active{% endif %}" >
                            <div class="catalogue-detail-thumb__shadow"></div>
                            <img src="{{ image.get_thumb_url }}" alt="">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="catalogue-detail-props">
                <h1 class="catalogue-detail-props__title">
                    {% if ware.html_h1 %}
                        {{ware.html_h1}}
                    {% else %}
                        {{ware.title}}
                    {% endif %}
                </h1>
                <a href="#modal_order" class="btn btn-order btn__filled btn__cyan">Оставить заявку</a>
                <ul class="catalogue-detail-props-list">
                    {% if ware.brand %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header">Бренд</div>
                            <div class="details-props__text">{{ ware.brand }}</div>
                        </li>
                    {% endif %}
                    {% if ware.sexes_choices %}
                        <li class="catalogue-detail-props__prop catalogue-detail-props__sex">
                            <div class="details-props__header">Модель</div>
                            <div class="details-props__text">
                                {% for sex in ware.sexes_choices %}
                                    <input id="sex{{sex.id}}" class="details-input-sex" value="{{sex.title}}" type="checkbox" name="sexes_choices" hidden />
                                    <label for="sex{{sex.id}}" class="details-props-btn__sex">{{ sex.title|lower }}</label>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if ware.sizes_choices %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header">Доступные размеры</div>
                            <div class="details-props__text">
                                {% for size in ware.sizes_choices %}
                                    {% if size.title == '1' %}
                                        <span class="details-props-btn__size">XS</span>
                                    {% endif %}
                                    {% if size.title == '2' %}
                                        <span class="details-props-btn__size">S</span>
                                    {% endif %}
                                    {% if size.title == '3' %}
                                        <span class="details-props-btn__size">M</span>
                                    {% endif %}
                                    {% if size.title == '4' %}
                                        <span class="details-props-btn__size">L</span>
                                    {% endif %}
                                    {% if size.title == '5' %}
                                        <span class="details-props-btn__size">XL</span>
                                    {% endif %}
                                    {% if size.title == '6' %}
                                        <span class="details-props-btn__size">XXL</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if ware.consist %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header">Состав</div>
                            <div class="details-props__text">{{ ware.consist }}</div>
                        </li>
                    {% endif %}

                    {% if ware.application %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header">Нанесение</div>
                            <div class="details-props__text">{{ ware.application }}</div>
                        </li>
                    {% endif %}

                    {% if ware.extra_info %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header">Дополнительно</div>
                            <div class="details-props__text">{{ ware.extra_info|safe }}</div>
                        </li>
                    {% endif %}

                    {% if ware.colors_choices %}
                        <li class="catalogue-detail-props__prop">
                            <div class="details-props__header details-props__header__color">Цвет</div>
                            <div class="details-props__text">
                                <ul class="details-props-colors">
                                    {% for color in ware.colors_choices %}
                                        <li>
                                            <input type="checkbox" name="colors_choices" id="color{{color.id}}" class="details-input-color" value="{{color.title}}" hidden />
                                            <label for="color{{color.id}}">
                                                <svg class="details-props-colors__demo" height="40" width="40">
                                                    <circle cx="19" cy="19" r="17" stroke="white" stroke-width="4" fill="{{color.hex_code}}" />
                                                </svg>
                                                 <div class="details-props-colors__title">{{ color.title|lower }}</div>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </section>
        {{ item.title }}
    </div>
{% endblock content %}
