{% extends "layout.html" %}

{% block content %}
    <div class="catalogue clearfix">
        {% include "wares/categories_list.html" %}
        <div class="price-list-div">
            <a href="#list_order" class="btn btn-list btn__cyan" data-redirect-to="{{content.33.attachement.url}}">Скачать прайс-лист</a>
        </div>
        <div class="order-div">
            <a href="#modal_order" class="btn btn-order btn__cyan">Оставить заявку</a>
        </div>
        <section class="catalogue-list">
            {% include "wares/breadcrumbs.html" %}
            <h1 class="category-title">
                {% if category.html_h1 %}
                    {{ category.html_h1 }}
                {% else %}
                    {{ category.title }}
                {% endif %}
            </h1>
            {% if category.description %}
                <div class="category-description"> {{ category.description|safe }} </div>
            {% endif %}
            <div class="category-wares clearfix">
                {% for ware in category.wares %}

                    {% if forloop.first %}
                        <div class="clearfix">
                    {% endif %}

                    <div class="catalogue-ware">
                        <a href="/catalog/{{category.slug}}/{{ware.slug}}">
                            <div class="catalogue-ware__image-wrapper">
                                {% if ware.image %}
                                    <img class="catalogue-ware__image" src="{{ ware.image.url }}" alt="{{ ware.title }}">
                                    <div class="catalogue-ware__image-shadow"></div>
                                {% endif %}
                            </div>
                            {% if ware.price %}
                                <svg class="catalogue-ware__price-circle" height="144" width="144">
                                    <circle cx="72" cy="72" r="72" fill="#01a4a1" />
                                </svg>
                                <div class="catalogue-ware__price-sum">{{ ware.price }} Р</div>
                            {% endif %}
                            <div class="catalogue-ware__title">{{ ware.title }}</div>
                        </a>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="clearfix">
                    {% endif %}

                    {% if forloop.last %}
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            {% if category.wares %}
                <div class="text-center">
                    <a href="#modal_order" class="btn btn-order btn__filled btn__cyan">Оставить заявку</a>
                </div>
            {% endif %}
            {% if category.description_bottom %}
                <div class="category-description"> {{ category.description_bottom|safe }} </div>
            {% endif %}
        </section>
    </div>
{% endblock content %}
