@import 'vars';

.btn {
    font-size: 15px;
    font-weight: bold;
    padding: 15px 40px;
    border: 4px solid;
    text-transform: uppercase;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
}

.btn__filled.btn__cyan {
    background-color: $color-cyan;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        color: white;
        background-color: darken($color-cyan, 3%);
        border-color: darken($color-cyan, 3%);
    }
}

.btn__white {
    color: white;
    border-color: white;
    
    &:hover {
        border-color: #e9e9e9;
    }
}

.btn__cyan {
    color: $color-cyan;
    border-color: $color-cyan;

    &:hover {
        color: darken($color-cyan, 3%);
        border-color: darken($color-cyan, 3%);
    }
}