@import 'vars';

.welcome-slider-wrapper {
    position: absolute;
    top: 445px;
    height: 486px;
    width: 756px;
    background: $color-orange;
    background: linear-gradient(43deg, $color-orange 50%,$color-cyan 50%);
    z-index:10;
    left:50%;
    margin-left: -378px;

    .dots {
        position: absolute;
        bottom: -90px;
        padding-left: 0;
        width: 100%;
        text-align: center;

        .dot {
            list-style-type: 0;
            display: inline-block;
            height: 24px;
            width: 24px;
            background-color: #c2c2c2;
            border-radius: 100%;
            margin-left: 15px;

            &:hover {
                cursor: pointer;
            }

            &:first-child {
                margin-left: 0;
            }

            &.active {
                background-color: $color-cyan;
            }
        }
    }
}

.slider {
    position: absolute;
    top: 8px;
    height: 470px !important;
    width: 740px;
    z-index:20;
    left:50%;
    margin-left: -370px;
    overflow: hidden;

    > ul {
        padding: 0;
        margin: 0;
        transform: translateZ(0);
    }

    > li {
        list-style-type: none;
        float: left;
    }
}

