// colors
$color-cyan: #02a4a2;
$color-blue: #013671;
$color-orange: #f3c500;

@mixin font-size($size: 1.6, $line: $size * 1.5) {
    font-size: ($size * 10) + px;
    line-height: ($line * 10) + px;
    font-size: $size + rem;
    line-height: $line + rem;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == "medium" {
    @media (max-width: 1280px) {
      @content;
    }
  }
 
  @else if $breakpoint == "large" {
    @media (min-width: 1281px) {
      @content;
    }
  }

  @else {
    @media (max-width: $breakpoint) {
        @content;
    }
  }
}