@import '../vars';

.catalogue-detail {
    width: 100% - percentage(330px / 1350px);

    .btn-order {
        margin: 60px 0;
    }
}

.catalogue-detail-images {
    position: relative;
    float: left;
    width: percentage(565px / 1020px);
}

.catalogue-detail-bigs {
    width: 100%;

    img {
        width: 100%;
        max-width: 560px;
        max-height: 570px;
    }

    .is_shown {
        display: block !important;
    }
}

.catalogue-detail-thumbs-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -21px;
    margin-top: 40px;
}

.catalogue-detail-thumb {
    float: left;
    margin-left: 21px;
    margin-bottom: 21px;
    position: relative;

    .catalogue-detail-thumb__shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        &:hover {
            box-shadow: inset 0 0 0 4px $color-cyan;
            cursor: pointer;
        }
    }

    &.active {
        .catalogue-detail-thumb__shadow {
            box-shadow: inset 0 0 0 4px $color-cyan;
            cursor: pointer;
        }
    }
}


.catalogue-detail-props {
    float: left;
    width: 100% - percentage(565px / 1020px);
    padding-left: 40px;
    box-sizing: border-box;
}

.catalogue-detail-props__prop {
    .details-props-colors {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.catalogue-detail-props__title {
    @include font-size(2.4);
    width: percentage(340px / 415px);
    margin: 0;
    font-weight: normal;
}

.catalogue-detail-props-list {
    list-style-type: none;
    margin: 0;  padding: 0;
}

.details-props__header {
    font-weight: 600;
    @include font-size(1.6);
    margin-bottom: 5px;
}

.details-props__text {
    @include font-size(2);
    margin-bottom: 20px;
}

.details-props__header__color {
    margin-bottom: 15px;
}

.details-props-colors__demo {
    float: left;
}

.details-props-colors__title {
    float: left;
    padding-left: 12px;
}

input + label {
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        color: lighten(desaturate($color-cyan, 60%), 18%);
    }
}

.details-input-sex:checked + label {
    color: $color-cyan;
}

.details-input-size + label {
    height: 30px;
    width: 30px;
}

.details-input-size:checked + label {
    background-color: $color-cyan;
    color: black;
}

.details-input-color:checked + label {
    color: $color-cyan;
}

.details-input-color:checked + label .details-props-colors__demo circle {
    stroke: $color-cyan;
}