@import '../vars';

.catalogue {
    position: relative;
    background-color: #f2f2f2;
    padding-top: 90px;
    padding-bottom: 90px;
}

.catalogue-categories {
    float: left;
    width: percentage(330px / 1350px);
    padding-top: 10px;
    @include font-size(1.6);
    box-sizing: border-box;
    padding-right: 40px;

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 70px;

        li {
            margin-bottom: 16px;
        }
    }
}

.catalogue-category {
    color: $color-blue;
    font-weight: 600;

    &.active {
        color: $color-cyan;
    }

    &:hover {
        color: lighten(desaturate($color-cyan, 60%), 18%);
    }
}

.catalogue-list {
    float: left;
    width: 100% - percentage(330px / 1350px);
    padding-top: 65px;

    .btn {
        margin-top: 35px;
    }
}

.category-title {
    text-align: center;
    color: $color-blue;
    font-weight: 400;
    margin: 0;
    padding-right: 7%;
    @include font-size(4.6, 4.6);
}

.category-description {
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 7%;
    @include font-size(2);
    color: #292929;

    p {
        margin: 0;
    }
}

.catalogue-ware {
    position: relative;
    width: percentage(300px / 1020px);
    overflow: hidden;
    float: left;
    margin-left: 20px;
    margin-bottom: 45px;

    &:nth-child(3n+1) {
        margin-left: 0;
    }

    .catalogue-ware__image-wrapper {
        position: relative;
    }

    .catalogue-ware__image-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: box-shadow .05s ease;

        &:hover {
            box-shadow: inset 0 0 0 4px $color-cyan;
        }
    }

    .catalogue-ware__image {
        position: relative;
        width: 100%;
        max-height: 290px;
    }

    .catalogue-ware__price-circle {
        position: absolute;
        left: -35px;
        top: -35px;
    }

    .catalogue-ware__price-sum {
        position: absolute;
        top: 40px;
        left: 20px;
        font-weight: bold;
        @include font-size(2, 2);
        color: white;
    }

    .catalogue-ware__title {
        margin-top: 25px;
        color: $color-cyan;
        text-align: center;
        font-weight: 600;
        @include font-size(2);
    }
}

.price-list-div {
    position: absolute;
    right: 65px;
    top: 30px;

    .btn {
        margin-top: 0;

        &:hover {
            color: white;
            background-color: $color-cyan;
        }
    }
}

.order-div {
    position: absolute;
    right: 335px;
    top: 30px;

    .btn {
        margin-top: 0;

        &:hover {
            color: white;
            background-color: $color-cyan;
        }
    }
}
