/* =============== Made by 5_ | 2014 (fivespace.ru) =============== */.catalogue-detail {
  width: 75.55556%; }
  .catalogue-detail .btn-order {
    margin: 60px 0; }

.catalogue-detail-images {
  position: relative;
  float: left;
  width: 55.39216%; }

.catalogue-detail-bigs {
  width: 100%; }
  .catalogue-detail-bigs img {
    width: 100%;
    max-width: 560px;
    max-height: 570px; }
  .catalogue-detail-bigs .is_shown {
    display: block !important; }

.catalogue-detail-thumbs-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -21px;
  margin-top: 40px; }

.catalogue-detail-thumb {
  float: left;
  margin-left: 21px;
  margin-bottom: 21px;
  position: relative; }
  .catalogue-detail-thumb .catalogue-detail-thumb__shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
    .catalogue-detail-thumb .catalogue-detail-thumb__shadow:hover {
      box-shadow: inset 0 0 0 4px #02a4a2;
      cursor: pointer; }
  .catalogue-detail-thumb.active .catalogue-detail-thumb__shadow {
    box-shadow: inset 0 0 0 4px #02a4a2;
    cursor: pointer; }

.catalogue-detail-props {
  float: left;
  width: 44.60784%;
  padding-left: 40px;
  box-sizing: border-box; }

.catalogue-detail-props__prop .details-props-colors {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.catalogue-detail-props__title {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem;
  width: 81.92771%; }

.catalogue-detail-props-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.details-props__header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24.0px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5px; }

.details-props__text {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px; }

.details-props__header__color {
  margin-bottom: 15px; }

.details-props-colors__demo {
  float: left; }

.details-props-colors__title {
  float: left;
  padding-left: 12px; }

input + label {
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  cursor: pointer; }

.details-input-sex:checked + label {
  color: #02a4a2; }

.details-input-size + label {
  height: 30px;
  width: 30px; }

.details-input-size:checked + label {
  background-color: #02a4a2; }

.details-input-color:checked + label .details-props-colors__demo circle {
  stroke: #02a4a2; }
