/* =============== Made by 5_ | 2014 (fivespace.ru) =============== */.catalogue {
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 90px; }

.catalogue-categories {
  float: left;
  width: 24.44444%;
  padding-top: 10px;
  font-size: 16px;
  line-height: 24.0px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  box-sizing: border-box;
  padding-right: 40px; }
  .catalogue-categories ul {
    list-style-type: none;
    margin: 0;
    padding-left: 70px; }
    .catalogue-categories ul li {
      margin-bottom: 12px; }

.catalogue-category {
  color: #013671;
  font-weight: 600; }
  .catalogue-category.active {
    color: #02a4a2; }

.catalogue-list {
  float: left;
  width: 75.55556%; }
  .catalogue-list .btn {
    margin-top: 35px; }

.category-title {
  text-align: center;
  color: #013671;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  font-size: 46px;
  line-height: 46px;
  font-size: 4.6rem;
  line-height: 4.6rem; }

.category-description {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  color: #292929;
  width: 86.27451%;
  margin: 0 auto; }
  .category-description p {
    margin: 0; }

.catalogue-ware {
  position: relative;
  width: 29.41176%;
  overflow: hidden;
  float: left;
  margin-left: 20px;
  margin-bottom: 45px; }
  .catalogue-ware:nth-child(3n+1) {
    margin-left: 0; }
  .catalogue-ware .catalogue-ware__image-wrapper {
    position: relative; }
  .catalogue-ware .catalogue-ware__image-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }
    .catalogue-ware .catalogue-ware__image-shadow:hover {
      box-shadow: inset 0 0 0 4px #02a4a2; }
  .catalogue-ware .catalogue-ware__image {
    position: relative;
    width: 100%;
    max-height: 290px; }
  .catalogue-ware .catalogue-ware__price-circle {
    position: absolute;
    left: -35px;
    top: -35px; }
  .catalogue-ware .catalogue-ware__price-sum {
    position: absolute;
    top: 40px;
    left: 20px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-size: 2rem;
    line-height: 2rem;
    color: white; }
  .catalogue-ware .catalogue-ware__title {
    margin-top: 25px;
    color: #02a4a2;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-size: 2rem;
    line-height: 3rem; }
