<footer>
    <div class="container">
        <div class="footer-left clearfix">
            <div class="footer-logo"></div>
            <div class="footer-links">
                <ul>
                    <li class="footer-link {% if o_kompanii %} active {% endif %}"><a href="/o_kompanii">О компании</a></li>
                    <li class="footer-link {% if dokumenti %} active {% endif %}"><a href="/dokumenti">Документы</a></li>
                    <li class="footer-link {% if maketi %} active {% endif %}"><a href="/maketi">Макеты</a></li>
                </ul>
            </div>
            <div class="footer-copyrigth">
                <p>&copy; Компания Scortex®, 2014. Все права защищены.<br/>
                    Правила использования и копирования информации.
                </p>
            </div>
        </div>
        
        <div class="footer-contacts">
            {{content.16.content|safe}}
        </div>
    </div>
</footer>