<div class="navbar">
    <div id="logo">
        <a href="/">
            <div id="logo-img"></div>
            <svg id="circle-logo" height="240" width="240">
                <circle cx="120" cy="120" r="120" fill="#013671" />
            </svg>
        </a>
    </div>

    <div class="navbar-background"></div>

    <nav class="navlinks" role="navigation">
        <ul class="navlinks-nav">
            <li><a class="navlinks__link {% if catalog %}active{% endif %}" href="/catalog/">Каталог</a></li>
            <li><a class="navlinks__link {% if nanesenie %}active{% endif %}" href="/nanesenie/">Нанесение</a></li>
            <li><a class="navlinks__link {% if tkani %}active{% endif %}" href="/tkani/">Ткани</a></li>
            <li><a class="navlinks__link {% if oplata %}active{% endif %}" href="/oplata/">Оплата</a></li>
            <li><a class="navlinks__link {% if dostavka %}active{% endif %}" href="/dostavka/">Доставка</a></li>
            <li><a class="navlinks__link {% if kontakty %}active{% endif %}" href="/kontakty/">Контакты</a></li>
        </ul>
    </nav>
    
    <div class="navbar-contacts">
        {{ content.15.content|safe }}
    </div>
</div>