<html>
<head>
    {% if meta %}
        <title>{% if meta.title %}
            {{ meta.title }} |
        {% endif %} Scortex</title>
        <meta name="description" content="{{ meta.description }}">
    {% else %}
        <title>Scortex</title>
        <meta name="description" content="Scortex">
    {% endif %}
    <link href="{{ STATIC_URL }}img/favicon16.ico" rel="shortcut icon"/>
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/favicon57.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <meta name='yandex-verification' content='691f2c10b3714e2b' />
</head>
<body>
    <div class="container clearfix" {% if page_name %}data-page-name='{{ page_name }}'{% endif %}>
        {% include "header.html" %}

        {% block content %}

        {% endblock content %}
    </div>

    {% include "footer.html" %}
    {% include "modal_order.html" %}
    {% include "list_order.html" %}
    {% block page_specific %}

    {% endblock page_specific %}
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/javascript">
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter28009770 = new Ya.Metrika({id:28009770,
        webvisor:true,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true});
        } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28009770" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</body>
</html>
