<div id="list_order" class="popup mfp-hide modal-order-form">
    <div class="modal-order-form__form">
        <header>Получить прайс-лист</header>
        <form id="list-order_form" action="/api/price_request" method="POST">
            <input name="name" type="text" placeholder="Имя">
            <input name="phone" class="input__tel" type="text" placeholder="Телефон">
            <input name="email" type="email" placeholder="e-mail">
            <input type="hidden" name="request_type" value="">
            <button type="submit" class="btn btn__filled btn__cyan">Скачать прайс-лист</button>
        </form>
    </div>
</div>
