<div id="modal_order" class="popup mfp-hide modal-order-form">
    <div class="modal-order-form__success" data-form-success>
        <div class="u-middle__wrapper">
            <div class="u-middle">
                <div class="modal-order-form__header">
                    Спасибо, ваша заявка отправлена!
                </div>
                <span>Менеджер свяжется с вами в течении 30 минут</span>
            </div>
        </div>

    </div>
    <div class="modal-order-form__form">
        <header>Заявка на заказ</header>
        <form id="modal-order_form" action="/api/order" method="POST">
            <input name="name" type="text" placeholder="Имя">
            <input name="phone" class="input__tel" type="text" placeholder="Телефон">
            <input name="email" type="email" placeholder="e-mail">
            {# <input name="order_items" type="text" placeholder="Хочу заказать" {% if catalog %}style="display:none"{% endif %}> #}
            <input name="description" type="text" placeholder="Описание">
            <input name="sexes" type="hidden" value="">
            <input name="sizes" type="hidden" value="">
            <input name="colors" type="hidden" value="">
            <button type="submit" class="btn btn__filled btn__cyan">Оставить заявку</button>
        </form>
    </div>

</div>
