.application-section {
    &:nth-child(odd) {
        background-color: $color-cyan;
        color: white;

        th {
            color: white;
        }

        td:first-child {
            color: white;
        }
    }

    padding: 90px 75px;

    th {
        text-align: left;
        font-weight: normal;
        padding-bottom: 30px;
        color: #252525;
        @include font-size(1.5);
    }

    td:first-child {
        font-weight: bold;
        text-transform: uppercase;
        color: #252525;
        @include font-size(1.5);
    }

    td {
        vertical-align: top;
        padding-bottom: 30px;
        width: percentage(300px/1350px);
        color: $color-blue;
        padding-right: 6%;
        font-weight: 600;
    }
}

.application-header {
    padding-top: 0;
    text-align: left;
    @include font-size(4);
}

.application-content {
    position: relative;
    z-index: 20;

    p {
        padding: 0;
        margin: 0;
        @include font-size(2);

        &:first-child {
            width: 75%;
        }
    }
}

#application-circle-1, #application-circle-4 {
    position: absolute;
}

#application-circle-1 {
    top: -330px;
    right: -300px;
}

#application-circle-4 {
    top: -290px;
    right: -140px;
}

