#oplata-first {
    padding-bottom: 110px;
    background-color: #f2f2f2;

    .btn {
        margin-top: 60px;
    }
}

#oplata-way1 {
    background-color: $color-cyan;
    color: white;
    padding-top: 140px;
    padding-left: 75px;
    padding-bottom: 180px;

    .oplata-way1-bg {
        position: absolute;
        top: 95px;
        right: 100px;
    }

    @include respond-to(medium) {
        .oplata-way1-bg {
            right: 60px;
        }
    }

    .oplata-way1__title {
        @include font-size(4);
        padding-bottom: 40px;
    }

    .oplata-way1__text {
        @include font-size(2);
        width: percentage(770px / 1350px);

        p {
            margin: 0;
        }
    }
}

#oplata-way2 {
    background-color: #f2f2f2;
    padding-top: 120px;
    padding-right: 160px;
    padding-bottom: 170px;
    overflow: visible;

    .oplata-way2__title {
        @include font-size(4);
        padding-bottom: 40px;
        color: $color-blue;
        margin-left: percentage((1350px - 615px) / 1350px);
    }

    .oplata-way2__text {
        @include font-size(2);
        margin-left: percentage((1350px - 615px) / 1350px);
        width: percentage(615px / 1350px);
        color: #282828;

        p {
            margin: 0;
        }
    }

    .oplata-way2-bg {
        position: absolute;
        left: 0;
        top: -120px;
        overflow: hidden;
    }

    #way2-bg__circle {
        position: relative;
        top: 0;
        left: -90px;
    }

    .way2-bg__icon {
        position: absolute;
        top: 140px;
        left: 50px;
    }

    @include respond-to(medium) {
        #way2-bg__circle {
            left: -140px;
        }

        .way2-bg__icon {
            left: 25px;
        }
    }
}

#oplata-info {
    background-color: #f2f2f2;
    padding-left: 70px;
    padding-bottom: 55px;

    p {
        @include font-size(2.4, 2.4);
        color: $color-blue;
    }
}