@import '../vars';

#tkani-description {
    text-align: center;
    padding-bottom: 85px;
    // background-color: #e8e8e8;

    header {
        color: $color-blue;
    }

    > p {
        width: 830px;
        margin: 0 auto;
        color: #292929;
        line-height: 1.5;
        @include font-size(2);
    }
}

.section-title {
    text-align: center;
    background-color: #fff;
    p {
        @include font-size(2.4);
        font-weight: 600;
    }
}

.static-section {

    .static-text-block {
        float: left;
        text-align: left;
        position: relative;
        z-index: 20;
    }

    .static-text-block__tkani {
        margin-top: 120px;
        width: 46%;
        margin-bottom: 120px;
        padding-left: percentage(90px / 1350px);
    }

    h2 {
        line-height: 1;
        @include font-size(4);
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
    }

    p {
        @include font-size(3);
        margin-top: 90px;
        margin-bottom: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        @include font-size(3);
        padding-top: 90px;
        margin: 0;
    }
}

.tkani-category-li {
    padding-bottom: 3px;

    &::after {
        color: $color-cyan;
        position: relative;
        top: 5px;
        content: ' +';
        @include font-size(4, 1);
        cursor: pointer;
    }
}

.static-section__1n {
    background-color: $color-cyan;

    h2, li, a, p {
        color: white;
    }

    .tkani-category-li::after {
        color: $color-blue;
    }
}

.static-section__2n {
    background-color: #f2f2f2;

    h2, li, a, p {
        color: $color-blue;
    }
}

.static-section__3n {
    background-color: $color-blue;

    h2, li, a, p {
        color: white;
    }

    .tkani-category-li::after {
        color: $color-orange;
    }
}

.static-section__even {
    .static-text-block {
        float: right;
    }

    .static-text-block__tkani {
        width: percentage(525px / 1350px);
    }
}

#tkani-category-1-circle {
    position: absolute;
    top: -146px;
    right: -200px;
}

#tkani-category-4-circle {
    position: absolute;
    top: -110px;
    left: -245px;
}

#tkani-category-6-circle {
    position: absolute;
    top: -73px;
    left: -58px;
}

@include respond-to(medium) {
    #tkani-category-6-circle {
        top: -94px;
    }
}

#tkani-category-7-circle {
    position: absolute;
    top: -232px;
    right: -238px;
}

.tkani-category-1-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.tkani-category-2-img {
    position: absolute;
    bottom: 0;
    left: percentage(55px / 1350px);
}

.tkani-category-3-img {
    position: absolute;
    top: 0;
    right: 0;
}

.tkani-category-4-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.tkani-category-5-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.tkani-category-6-img {
    position: absolute;
    bottom: 0;
    left: 25px;
    z-index:10;
}

.tkani-category-7-img {
    position: absolute;
    bottom: 0;
    right: 175px;
    z-index: 10;
}

@include respond-to(medium) {
    .tkani-category-7-img {
        right: 172px;
    }
}

#modal_fabric {
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    box-sizing: border-box;
    width: percentage(9/16);
    min-width: 738px;
    max-width: 780px;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background: white;
        border-radius: 50%;
    }

    .mfp-close {
        top: 75px;
        right: 0;
        color: white;
        opacity: 1;
        @include font-size(6, 6);
        font-weight: 400;
    }
}

.modal_fabric-wrapper {
    padding: 210px 170px 0;
    float: left;
}

@include respond-to(small) {
    #modal_fabric {
        width: percentage(12/16);
    }

    .modal_fabric-wrapper {
        padding: 210px 90px 0;
    }
}

@include respond-to(medium) {
    .modal_fabric-wrapper {
        padding: 200px 120px 0;
    }
}

@include respond-to(large) {
    #modal_fabric {
        width: percentage(8/16);
    }

    .modal_fabric-wrapper {
        padding: 150px 150px 0;
    }
}

#modal_fabric-title {
    @include font-size(4);
    color: $color-blue;
    margin-bottom: 35px;
}

#modal_fabric-description {
    @include font-size(1.6, 3.2);
    color: #282828;
}

.modal_fabric-wrapper {

}
